.navbar-brand {
	font-weight: bold;
}

.nav-link {
	color: #333;
}

	.nav-link:hover {
		color: #666;
	}

	.nav-link.active {
		color: #000;
	}

.btn-link {
	color: #333;
	text-decoration: none;
}

	.btn-link:hover {
		color: #666;
	}

.text-dark {
	color: #333;
}

.text-light {
	color: #fff;
}

.bg-white {
	background-color: #fff;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
