@using MusicSchoolAsp.Models.Db;
@model User

@{
	ViewData["Title"] = "Teacher Main Page";
}

<div class="text-center">
	<h1>Здравствуйте, @Model.Surname @Model.FirstName @Model.Patronymic</h1>
</div>
