@model IEnumerable<MusicSchoolEF.Models.Db.Group>

@{
    ViewData["Title"] = "Главная";
}

<h1>Главная</h1>

<p>
    <a asp-action="Create">Создать новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Name">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Name">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Name">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
